.dashboardcard {
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}

.dashboardcardicon {
    font-size: 2rem;
    color: #FFFFFF;
}

#cardstudent {
    background-color: #356CF9;
}

#cardinstructor {
    background-color: #F9AB35;
}

#cardonlineusers {
    background-color: #35F9A2;
}
