.sidebar {
    z-index: 1;
    width: 250px;
    max-width: 250px;
    position: absolute;
    height: inherit;
    background-color: #2A2F7A;
    transition: transform 0.3s ease-in-out;
}

.sidebarnav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 100%;
}

.sidebarnavlink {
    text-align: start !important;
    color: #FFFFFF;
    display: flex;
    align-items: center;
justify-content: start !important;
    padding-right: 3rem;
    margin-bottom: 1rem;
}

.navicon {
    margin-right: 1rem;
}

.sidebarnavlink.active {
    background-color: #3378FF !important;
}

.sidebartogglebtn {
    color: #FFFFFF;
    cursor: pointer;
}

.sidebartogglebtn .navicon {
    font-size: 1.5rem;
}

.sidebarheader {
    color: #FFFFFF;
}

.sidebar.closed {
    transform: translateX(-100%);
  }
  
  .sidebar.open {
    transform: translateX(0);
  }