.sidebar {
    z-index: 999;
    width: 250px;
    max-width: 250px;
    position: absolute;
    height: 100%;
    background-color: #2A2F7A;
    transition: transform 0.3s ease-in-out;
}

.sidebarnavlink {
    text-align: start !important;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.sidebarnavlink.active {
    background-color: #3378FF !important;
}

.sidebartogglebtn {
    color: #FFFFFF;
    cursor: pointer;
}

.sidebartogglebtn .navicon {
    font-size: 1.5rem;
}

.sidebarheader {
    color: #FFFFFF;
}

.sidebar.closed {
    transform: translateX(-100%);
  }
  
  .sidebar.open {
    transform: translateX(0);
  }

.navicon {
    margin-left: -30px;
    padding: 0;
}